html {
  scroll-behavior: smooth;
}

/* remove white borders around image */
body {
  margin: 0;
}

section {
  padding: 30px;
  line-height: 30px;
}

footer {
  text-align: center;
  font-size: 12px;
  padding: 15px;
  margin-top: 25px;
}

h1 {
  font-weight: 900;
  font-size: 56px;
  font-style: italic;
  text-align: center;
  padding: 40px;
}

* Style the side navigation */
.sidenav {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
  
/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
  
/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}